<div id="<%= name %>-map" class="teaser-map"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1 content-block">
            <h3 id="section-join"><%= overview %></h3>
        </div>
    </div>
</div>

<div class="banner">
    <div class="banner-img" role="presentation" style="background: url(../<%= banner %>) no-repeat center center; background-size: cover;"></div>
    <div class="container overlay">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 inverted" style="opacity: .85">
                <p><strong><%= tagline %></strong> <%= description %> <a>Start creating your data.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1 content-block">
            <p id="section-about">Particulate air matter has negative effects on health</p>
        </div>
    </div>
</div>
