<div class="map-pop">
    <div class="row">
        <div class="col-sm-12 pop-chart">
            <h3 class="sensor-number" id="<%= id %>-pop"><%= name %></h3>
            <p><strong>Location: </strong> <%= location %></p>
            <p><a href="#/report/<%- path %>">Generate report</a></p>
            <div class="mask" id="<%= id %>-chart" style="height:120px;"></div>
        </div>
    </div>
</div>
